<div class="home-container">
  <div class="home-home">
    <img
      alt="Ellipse11136"
      src="/assets/external/ellipse11136-srge-900w.png"
      class="home-ellipse1"
    />
    <div class="home-wheel12">
      <div class="home-group1">
        <div class="home-group2">
          <img
            alt="Vector1140"
            src="/assets/external/vector1140-sgwd.svg"
            class="home-vector10"
          />
        </div>
      </div>
      <div class="home-yourpathisilluminatedbyroadmapofstars">
        <span class="home-text10">
          Your path is illuminated by road-map of stars.....
        </span>
      </div>
    </div>
    <img
      alt="Star11142"
      src="/assets/external/star11142-yerc.svg"
      class="home-star1"
    />
    <img
      alt="Star21143"
      src="/assets/external/star21143-eq1.svg"
      class="home-star2"
    />
    <img
      alt="Star41144"
      src="/assets/external/star41144-s9dh.svg"
      class="home-star4"
    />
    <img
      alt="Star151145"
      src="/assets/external/star151145-eywb.svg"
      class="home-star15"
    />
    <img
      alt="Star161146"
      src="/assets/external/star161146-2zgf.svg"
      class="home-star16"
    />
    <img
      alt="Star61147"
      src="/assets/external/star61147-zb88.svg"
      class="home-star6"
    />
    <img
      alt="Star111148"
      src="/assets/external/star111148-feu.svg"
      class="home-star11"
    />
    <img
      alt="Star121149"
      src="/assets/external/star121149-4ww9.svg"
      class="home-star12"
    />
    <img
      alt="Star131150"
      src="/assets/external/star131150-4zir.svg"
      class="home-star13"
    />
    <img
      alt="Star141151"
      src="/assets/external/star141151-ry1h.svg"
      class="home-star14"
    />
    <img
      alt="Star101152"
      src="/assets/external/star101152-g2fh.svg"
      class="home-star10"
    />
    <img
      alt="Star71153"
      src="/assets/external/star71153-hpe.svg"
      class="home-star7"
    />
    <span class="home-text11">
      Your path is illuminated by road-map of stars.....
    </span>
    <span class="home-text12">
      he stars in the night sky act as a celestial GPS, providing navigational
      guidance for sailors and travelers. The stars are arranged in patterns and
      constellations that can be used to identify location, direction, and
      time.he stars in the night sky act as a celestial GPS, providing
      navigational guidance for sailors and travelers.
    </span>
    <div class="home-wheel21">
      <div class="home-group3">
        <div class="home-group4">
          <img
            alt="Vector1159"
            src="/assets/external/vector1159-zqqa.svg"
            class="home-vector11"
          />
        </div>
      </div>
    </div>
    <span class="home-text13">About Us</span>
    <span class="home-text14">Home</span>
    <span class="home-text15">Services</span>
    <span class="home-text16">Products</span>
    <span class="home-text17">Contact Us</span>
    <img
      alt="Line121165"
      src="/assets/external/line121165-i35p.svg"
      class="home-line12"
    />
    <div class="home-group1261152794">
      <img
        alt="Rectangle11831167"
        src="/assets/external/rectangle11831167-v4qw-700w.png"
        class="home-rectangle11831"
      />
      <img
        alt="Rectangle11821168"
        src="/assets/external/rectangle11821168-mimh-500h.png"
        class="home-rectangle11821"
      />
    </div>
    <span class="home-text18">About the Omkara rudraksha....</span>
    <span class="home-text19">
      The following is a brief overview of our products...
    </span>
    <span class="home-text20">
      <span>
        We have the World Famous Astrologers on the Best Astrology Website in
        India, practising both Indian Astrology and Western Astrology for
        astrology today.
      </span>
      <br />
      <br />
      <span>
        They will provide the best free horoscope astrology to you by analysing
        your birth chart and your astrology sign.We have the World Famous
        Astrologers on the Best Astrology Website in India, practising both
        Indian We have the World Famous Astrologers on the Best Astrology
        Website in India, practising both Indian Astrology
      </span>
    </span>
    <span class="home-text25">We Are Welcome</span>
    <span class="home-text26">
      the belief that the movements and relative positions of celestial bodies
      have an influence on the lives of people on Earth. It is based on the idea
      that the position of the stars and planets at the time of a person&apos;s
      birth can reveal in
    </span>
    <div class="home-btn1">
      <img
        alt="Rectangle1185I117"
        src="/assets/external/rectangle1185i117-e7y-200h.png"
        class="home-rectangle11851"
      />
      <img
        alt="Rectangle1184I117"
        src="/assets/external/rectangle1184i117-2pce-200h.png"
        class="home-rectangle11841"
      />
      <span class="home-text27">Read more</span>
    </div>
    <div class="home-group1261152795">
      <img
        alt="Rectangle11831176"
        src="/assets/external/rectangle11831176-l5d-700w.png"
        class="home-rectangle11832"
      />
      <img
        alt="Rectangle11821177"
        src="/assets/external/rectangle11821177-3ar-500h.png"
        class="home-rectangle11822"
      />
    </div>
    <span class="home-text28">What we do...</span>
    <span class="home-text29">What My Client Say....</span>
    <span class="home-text30">
      the belief that the movements and relative positions of celestial bodies
      have an influence on the lives of people on Earth. It is based on the idea
      that the position of the stars and planets at the time of a person&apos;s
      birth can reveal information about their personality and destiny.Astrology
      followers believe that the alignment of the planets influences the energy
      of individuals, and that this energy is what shapes their lives. They
      believe that it is possible to gain insight into a person&apos;s behavior
      and future through the study of their astrological sign.
    </span>
    <div class="home-btn2">
      <img
        alt="Rectangle1185I118"
        src="/assets/external/rectangle1185i118-gnaq-200h.png"
        class="home-rectangle11852"
      />
      <img
        alt="Rectangle1184I118"
        src="/assets/external/rectangle1184i118-jhlm-200h.png"
        class="home-rectangle11842"
      />
      <span class="home-text31">Read more</span>
    </div>
    <img
      alt="Line221182"
      src="/assets/external/line221182-d5ld.svg"
      class="home-line221"
    />
    <img
      alt="Line231183"
      src="/assets/external/line231183-qfde.svg"
      class="home-line231"
    />
    <div class="home-promotion">
      <img
        alt="Rectangle55I118"
        src="/assets/external/rectangle55i118-l9u-700h.png"
        class="home-rectangle55"
      />
      <div class="home-wheel22">
        <div class="home-group5">
          <div class="home-group6">
            <img
              alt="VectorI118"
              src="/assets/external/vectori118-9dlj.svg"
              class="home-vector12"
            />
          </div>
        </div>
      </div>
    </div>
    <img
      alt="Rectangle11901185"
      src="/assets/external/rectangle11901185-ush8-500h.png"
      class="home-rectangle1190"
    />
    <img
      alt="Line221186"
      src="/assets/external/line221186-q5i.svg"
      class="home-line222"
    />
    <img
      alt="Line231187"
      src="/assets/external/line231187-3isn.svg"
      class="home-line232"
    />
    <span class="home-text32">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore
      <span [innerHTML]="rawdlj3"></span>
    </span>
    <span class="home-text33">
      Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
      suscipit laboriosam, nisi ut al Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore
      <span [innerHTML]="raw5rmc"></span>
    </span>
    <span class="home-text34">
      Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
      suscipit laboriosam, nisi ut al Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore
      <span [innerHTML]="rawbr4b"></span>
    </span>
    <span class="home-text35">OMKARA RUDRAKSHA</span>
    <div class="home-book1">
      <img
        alt="Rectangle1193I119"
        src="/assets/external/rectangle1193i119-urj-200h.png"
        class="home-rectangle11931"
      />
      <img
        alt="Rectangle1192I119"
        src="/assets/external/rectangle1192i119-g4ov-200h.png"
        class="home-rectangle11921"
      />
      <span class="home-text36">
        book A appointment
        <span [innerHTML]="rawyf0r"></span>
      </span>
    </div>
    <div class="home-book2">
      <img
        alt="Rectangle1193I119"
        src="/assets/external/rectangle1193i119-yqq6-200h.png"
        class="home-rectangle11932"
      />
      <img
        alt="Rectangle1192I119"
        src="/assets/external/rectangle1192i119-8vfe-200h.png"
        class="home-rectangle11922"
      />
      <span class="home-text37">
        book A appointment
        <span [innerHTML]="rawbxg9"></span>
      </span>
    </div>
    <img
      alt="Star171194"
      src="/assets/external/star171194-ulwn.svg"
      class="home-star17"
    />
    <img
      alt="Star181195"
      src="/assets/external/star181195-a0zc.svg"
      class="home-star18"
    />
    <span class="home-text38">the belief that</span>
    <div class="home-group1261152804">
      <span class="home-text39">
        <span>
          After Astrolex reading, I now look up at the night sky and see a whole
          new wondrous Universe reflecting back at me. Their writings &amp;
          courses have my attention, and that’s one of the most valuable
          currencies.
        </span>
        <br />
      </span>
      <div class="home-group12611528001">
        <img
          alt="Vector1201"
          src="/assets/external/vector1201-v3w9.svg"
          class="home-vector13"
        />
        <img
          alt="Vector1202"
          src="/assets/external/vector1202-qg67.svg"
          class="home-vector14"
        />
        <img
          alt="Vector1203"
          src="/assets/external/vector1203-4dfc.svg"
          class="home-vector15"
        />
        <img
          alt="Vector1204"
          src="/assets/external/vector1204-g0e.svg"
          class="home-vector16"
        />
        <img
          alt="Vector1205"
          src="/assets/external/vector1205-3b84.svg"
          class="home-vector17"
        />
      </div>
      <img
        alt="Ellipse411206"
        src="/assets/external/ellipse411206-t9ev-200h.png"
        class="home-ellipse41"
      />
      <span class="home-text42">Systems analyst</span>
      <span class="home-text43">Theresa Webb</span>
    </div>
    <div class="home-group1261152803">
      <span class="home-text44">
        <span>
          After Astrolex reading, I now look up at the night sky and see a whole
          new wondrous Universe reflecting back at me. Their writings &amp;
          courses have my attention, and that’s one of the most valuable
          currencies.
        </span>
        <br />
      </span>
      <img
        alt="Vector1212"
        src="/assets/external/vector1212-mgt.svg"
        class="home-vector18"
      />
      <img
        alt="Vector1213"
        src="/assets/external/vector1213-34go.svg"
        class="home-vector19"
      />
      <img
        alt="Vector1214"
        src="/assets/external/vector1214-tzse.svg"
        class="home-vector20"
      />
      <img
        alt="Vector1215"
        src="/assets/external/vector1215-fij.svg"
        class="home-vector21"
      />
      <img
        alt="Vector1216"
        src="/assets/external/vector1216-bsv.svg"
        class="home-vector22"
      />
      <img
        alt="Vector1217"
        src="/assets/external/vector1217-u0mc.svg"
        class="home-vector23"
      />
      <img
        alt="Ellipse421218"
        src="/assets/external/ellipse421218-t2d-200h.png"
        class="home-ellipse42"
      />
      <span class="home-text47">Analyste de systèmes</span>
      <span class="home-text48">Bessie Cooper</span>
    </div>
    <div class="home-group1261152802">
      <span class="home-text49">
        <span>
          After Astrolex reading, I now look up at the night sky and see a whole
          new wondrous Universe reflecting back at me. Their writings &amp;
          courses have my attention, and that’s one of the most valuable
          currencies.
        </span>
        <br />
      </span>
      <div class="home-group12611528002">
        <img
          alt="Vector1225"
          src="/assets/external/vector1225-gmg.svg"
          class="home-vector24"
        />
        <img
          alt="Vector1226"
          src="/assets/external/vector1226-j20o.svg"
          class="home-vector25"
        />
        <img
          alt="Vector1227"
          src="/assets/external/vector1227-dzcj.svg"
          class="home-vector26"
        />
        <img
          alt="Vector1228"
          src="/assets/external/vector1228-xrzma.svg"
          class="home-vector27"
        />
        <img
          alt="Vector1229"
          src="/assets/external/vector1229-awcl.svg"
          class="home-vector28"
        />
      </div>
      <span class="home-text52">Développeur web</span>
      <span class="home-text53">Courtney Henry</span>
      <img
        alt="Ellipse451232"
        src="/assets/external/ellipse451232-s21s-200h.png"
        class="home-ellipse45"
      />
    </div>
    <div class="home-group1261152801">
      <span class="home-text54">
        <span>
          After Astrolex reading, I now look up at the night sky and see a whole
          new wondrous Universe reflecting back at me. Their writings &amp;
          courses have my attention, and that’s one of the most valuable
          currencies.
        </span>
        <br />
      </span>
      <div class="home-group12611528003">
        <img
          alt="Vector1237"
          src="/assets/external/vector1237-3k7b.svg"
          class="home-vector29"
        />
        <img
          alt="Vector1238"
          src="/assets/external/vector1238-lq7m.svg"
          class="home-vector30"
        />
        <img
          alt="Vector1239"
          src="/assets/external/vector1239-h8gsp.svg"
          class="home-vector31"
        />
        <img
          alt="Vector1240"
          src="/assets/external/vector1240-q41o.svg"
          class="home-vector32"
        />
        <img
          alt="Vector1241"
          src="/assets/external/vector1241-r28o.svg"
          class="home-vector33"
        />
      </div>
      <span class="home-text57">Technicien informatique</span>
      <span class="home-text58">Annette Black</span>
      <img
        alt="Ellipse461244"
        src="/assets/external/ellipse461244-tr8e-200h.png"
        class="home-ellipse46"
      />
    </div>
    <div class="home-group1261152806">
      <img
        alt="Vector1247"
        src="/assets/external/vector1247-pmtr.svg"
        class="home-vector34"
      />
    </div>
    <div class="home-group1261152805">
      <img
        alt="Vector1250"
        src="/assets/external/vector1250-0vxm.svg"
        class="home-vector35"
      />
    </div>
    <div class="home-group1261152808">
      <div class="home-component4">
        <div class="home-group1261152807">
          <img
            alt="icons8ruby961I125"
            src="/assets/external/icons8ruby961i125-2koe-200w.png"
            class="home-icons8ruby961"
          />
          <span class="home-text59">
            Red Stone is a construction material consisting of a variety of
            minerals including iron, clay, and sand. It is often used for
            building walls, and is a durable and cost-effective option.
          </span>
          <span class="home-text60">Red Stone</span>
          <div class="home-component3">
            <img
              alt="Rectangle1189I125"
              src="/assets/external/rectangle1189i125-1bc0k-200h.png"
              class="home-rectangle11891"
            />
            <span class="home-text61">Read more</span>
            <img
              alt="VectorI125"
              src="/assets/external/vectori125-ttd.svg"
              class="home-vector36"
            />
          </div>
        </div>
      </div>
      <div class="home-component5">
        <div class="home-group1261152798">
          <img
            alt="icons8rubyprogramminglanguage1I125"
            src="/assets/external/icons8rubyprogramminglanguage1i125-m4hm.svg"
            class="home-icons8rubyprogramminglanguage1"
          />
          <span class="home-text62">
            Red GEM is an open source platform that provides risk management,
            optimization, and visualization tools for natural resource
            management. It is designed to help users make informed decisions
            about their resources, and it allows them
            <span [innerHTML]="rawuohn"></span>
          </span>
          <span class="home-text63">Red GEM</span>
          <div class="home-component2">
            <img
              alt="Rectangle1189I125"
              src="/assets/external/rectangle1189i125-abde-200h.png"
              class="home-rectangle11892"
            />
            <span class="home-text64">Read more</span>
            <img
              alt="VectorI125"
              src="/assets/external/vectori125-l9wp.svg"
              class="home-vector37"
            />
          </div>
        </div>
      </div>
      <div class="home-component6">
        <div class="home-group1261152797">
          <img
            alt="icons8sapphire961I125"
            src="/assets/external/icons8sapphire961i125-z34g-200h.png"
            class="home-icons8sapphire961"
          />
          <span class="home-text65">Stone Blue</span>
          <span class="home-text66">
            Stone Blue is a deep blue color that can range from a deep sapphire
            to a tealish-blue. It is a popular choice for jewelry, art, and
            interior design, and it has a calming and luxurious feel that is
            often associated with luxury and sophistication
          </span>
          <div class="home-component1">
            <img
              alt="Rectangle1189I125"
              src="/assets/external/rectangle1189i125-pztd-200h.png"
              class="home-rectangle11893"
            />
            <span class="home-text67">Read more</span>
            <img
              alt="VectorI125"
              src="/assets/external/vectori125-7x6h.svg"
              class="home-vector38"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
